<!DOCTYPE html>
<html lang="en">
<head>
    <title>Post-Mortem.app Privacy Policy</title>
    <%- include ('./_head.ejs') %>
</head>
<body>
<%- include ('./_header.ejs') %>

<div class="relative py-16 bg-white overflow-hidden">
    <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="text-lg max-w-prose prose prose-lg mx-auto">
            <h1>
                <span class="block text-base text-center text-yellow-600 font-semibold tracking-wide uppercase">Privacy Policy</span>
            </h1>

            <div class='privacy'>


                <ul role="list">
                    <li>Post-Mortem.app started life as a way to connect my second brain on Roam Research to the outside world through Zapier.</li>
                    <li>I (François-Guillaume Ribreau & Florian, founder of Post-Mortem.app) do not store your Roam username and password, only Zapier does.</li>
                    <li>Post-Mortem.app will have access to your Roam username and Roam password through for each Zapier call but
                        I don't store them in any way (logs included).
                    </li>
                    <li>I do not share user data with third parties under any circumstances.</li>
                    <li>All revenue comes from paid subscriptions, removing the need for any type of tracking.</li>
                    <li>Post-Mortem.app does not store your payment information. Payment is handled through Stripe, but if you are uncomfortable using those services, alternative arrangements are available.</li>
                    <li>Post-Mortem.app earns all of its revenue through user subscriptions, and has no business relationship with large surveillance-based platforms like Facebook, Amazon or Google.</li>
                    <li>If there is a privacy breach, I promise to disclose it as soon as possible on the <a href='https://twitter.com/florianmari'>Twitter</a> account.</li>
                    <li>If you choose to delete your account, all your data will be removed after a 30-day waiting period.</li>
                    <li>If you spot a privacy leak, please report it to <a href="mailto:support@post-mortem.app">support@post-mortem.app</a>.</li>
                </ul>
            </div>

        </div>

    </div>
</div>

<%- include ('./_footer.ejs') %>

</body>
</html>
